@import url('https://fonts.googleapis.com/css?family=Play');

* {
	box-sizing: border-box;
}




.ui-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .3);
	font-family: 'Play';
}

.ui-new-game, .ui-was-kill {
	position: relative;
	z-index: 100;
	padding: 50px;
	border-radius: 5px;
	background: white;
	box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
}

.ui-new-game .header {

}

.ui-new-game .body {
	display: flex;
}

.ui-new-game .body .preview {
	padding: 10px;
	width: 350px;
	flex: 1;
}
.ui-new-game .body .customize {
	padding: 10px;
	width: 350px;
	flex: 1;
}

.form .control:not(:last-child) {
	margin-bottom: 20px;
}

.form .control label {
	padding-left: 5px;
	margin-bottom: 4px;
	display: block;
	width: 100%;
}


.form .control input,
.form .control button {
  outline: none;
}

.form .control input[type="text"], .form .control button {
	display: block;
	width: 100%;
  border-radius: 3px;
  padding: 10px;
  transition: .3s;
  box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
  border: 1px solid #eee;
  background: #fff;
}

.form .control select {
	display: block;
	width: 100%;
  border-radius: 3px;
  padding: 10px;
  transition: .3s;
  /*box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);*/
  border: 1px solid #eee;
  background: #fff;
  outline: none;
}

.form .control input:focus, .form .control select:focus, .form .control button:focus {
	border-color: #666;
  box-shadow: 0 0 0 0.125em rgba(0, 0, 0, .1);
}


#new-game-preview {
	border: 1px solid red;
	display: block;
	width: 100%;
	height: 100%;
}